.faqCategory {
    background-color: transparent;
    color:#FF153C;
    border: #FF153C 1px solid;
    margin: 5px;
    padding: 10px 20px;
    // border-radius: 25px;
    width: 174px;
    cursor: pointer;
  }
  
  .faqCategory.on {
    background-color:#FF153C;
    color: #fff;
  }

  
  #faq_list {
    margin-top: 20px;
  }

.faq-category {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.faq_content {
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
}

.faq_content p {
    margin: 10px 0;
}

.faqItem{
  border-bottom: 0.5px solid white;
  height: 50px;
  font-weight: 400;
  font-size: 1.2em;
}

.faqanswer{
  font-weight: 200;
}

@media (max-width:1200px) {
  .hashtitle{
    align-items: center;
    width: 1000px;
  }
}