.faqCategory {
    background-color: #606060;
    color:white;
    border: none;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 25px;
    width: 174px;
    cursor: pointer;
  }
  
  .faqCategory.on {
    background-color: #FF869A;
    color: #fff;
  }

  
  #faq_list {
    margin-top: 20px;
  }

// .d-flex {
//     gap: 10px;
// }

.faq-category {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.faq_content {
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
}

.faq_content p {
    margin: 10px 0;
}

.faqItem{
  border-bottom: 0.5px solid white;
}
