.bi{
    font-size: 30px;
    margin: 0 10px;
    color:white;
}

.word{
    word-spacing: 2em;
    font-weight: 300;
    font-size: 1.1em;
}

.footerinfo{
    font-size: 0.7em;
}

@media (max-width:1200px) {
    .noto20 Link{
        font-size: 1rem !important;
    }
    .noto15{
        font-size: 0.8rem !important;
    }
}


@media (max-width: 576px) {
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .word{
        word-spacing: 0.8em;
        font-size: 0.6rem;
        text-align: center;
    }
    .footerinfo{
        font-size: 0.3rem;
        text-align: center !important;
    }
  
}

@media (max-width: 320px) {

}