.bi{
    font-size: 30px;
    margin: 0 10px;
    color:white;
}

.word{
    word-spacing: 2em;
    font-weight: 400;
    font-size: 1.1em;
}

.footerinfo{
    font-size: 0.7em;
}

@media (max-width:1200px) {
    .noto20 Link{
        font-size: 1rem !important;
    }
    .noto15{
        font-size: 0.8rem !important;
    }
}