#hd{height:75px;
}

.logodiv{
    Link > img{width: calc(100% - 10vw);}
}
.ulcls{
    li{
        margin-left: 2rem;
    }
}
.text{
        color:#FF153C;
        border: 1px solid #FF153C;
        margin:0.2rem;
        padding:0.2rem 0.8rem;
        text-decoration: none;
    &:hover{
        background-color: #FF153C;
        color: white;
    }
}
.bi{
        display: block;
        font-size: 1.5rem;
        color:white;
        content: "\\f4e1";
    }


// @media (max-width: 1200px) {
    
// }

// @media (max-width: 992px) {
// }

// @media (max-width: 768px) {
// }

@media (max-width: 576px) {

        .momdiv{
            width: calc(100% - 15vw);
            margin-left: 1.8rem !important;
        }

        .logodiv{
           img{width:calc(100% - 1vw)}
        }

        .ulcls{
            width: 100%;
            justify-content: flex-end !important;
        }
}

@media (max-width: 320px) {
    .ulcls{
        .li01{display: none;}
    }
}