.backimg {
    background-image: url('../../../public/img/bubble/bubble2.png'); /* 이미지 경로 확인 *//* 이미지를 섹션 전체에 맞게 조절 */
    background-position: right;
    background-repeat: no-repeat;
    height: 900px;
    background-position:100% 5%
}