.mainbanner{
    width:100%;
    height:740px;
    position: relative;
    overflow: hidden;
}

.image_left {
    top: 0;
    left: -12.5rem;
    animation: moveLeft 180s linear infinite; /* 왼쪽으로 움직이는 애니메이션 */
  }
  
  .image_right {
    top: 0;
    right: -12.5rem; /* 이미지의 초기 위치 설정 */
    animation: moveRight 200s linear infinite; /* 오른쪽으로 움직이는 애니메이션 */
  }
  
  
  @keyframes moveLeft {
    0% {
      transform: translateX(-100vw);
    }
    100% {
      transform: translateX(0); /* 전체 화면 너비만큼 이동 */
    }
  }
  
  @keyframes moveRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100vw); /* 전체 화면 너비만큼 왼쪽으로 이동 */
    }
  }

//   .overlay {
//     position: absolute; /* 절대 위치로 설정 */
//     top: 0;
//     right: 0;
//     left:0;
//     bottom: 0;
//     background-color: rgba(0, 0, 0, 0.8); /* 반투명 검정색 */
//     z-index: 10; /* 오버레이가 다른 요소 위에 표시되도록 설정 */
// }


.maintent{
// width: 30vw;
}
.tentlogo{
    // width: 35vw;
}
.logoinfo{
   display: inline-block;
}
.age{
    display: inline-block;
    background-color: #494747;
    border-radius: 5px;
    font-family: 'Black Han Sans';
    font-size: 20px;
    padding: 0 3px;
}
.logounder{
    border: 0.5px solid white;;
    width: 53px;
    height: 21px;
}
.tentText{
   
}
.tentlink{

}
.bi{
    font-size: 25px;
}
.login{
    background-color: black; 
    border-radius: 200px 200px 0 0;
    font-weight: 600;
    padding: 1.6rem !important;
    margin-left: 1rem;
}


.loginform{
   
}
.sublogin{
   
}
.logintxt{
    font-family: 'Black Han Sans';
    font-size: 2rem;
    text-align: center;
    font-weight: 200;
    line-height: 40px;
}
.logintxt span{
    color:#FF153C;
}
.logindiv{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 100%;
    margin: 7px 10px 0;

    img{
        width: 30px;
        height: 30px;
    }
}


input[type="text"],
input[type="password"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    width:226px;
}
input::placeholder {
    color: #ccc;
}
.tvinglogin {
    padding: 15px;
    font-size: 18px;
    color: #fff;
    background-color: #FF153C;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 226px;
    height: 49px;
}
.tvinglogin:hover {
    background-color: #FF869A;
}

.sublogin{
   .simplelogin{
        display: block;
        width: 4.3rem;
        height: 0.15px;
        background-color: white;
    } 
    p{
        font-weight: 300;
        font-size: 0.8rem;
    }
}


@media (max-width:1200px) {
    .logintxt{
        font-size: 1.8rem;
    }
    .maintent{
        width: 34vw;
    }
    .tentlogo{
        width: 32vw;
    }
}
@media (max-width:992px) {
    .login{
        display: none;
    }
    .maintent{
        width: 42vw;
        margin-left: 3rem;
    }
    .tentlogo{
        width: 44vw;
    }
}

@media (max-width:768px) {
    .maintent{
        width: 49vw;
        margin-left: 1rem;
    }
    .tentText{
        margin-bottom: 1rem !important;
        margin-top: 2.1rem;
    }
    .tentText01{
        display: none;
     }
     
    .tentlink{
        margin-top: 4rem !important;
    }
}

@media (max-width:576px) {
    .maintent{
        width: 48vw;
        margin-left: 0;
     }
     .leftBanner{
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }
     .tentlogo{
        width: 85vw;
        margin-top: 0.5rem;
     }
     .tentlink{
        margin-top: 3rem !important;
    }
}

@media (max-width:320px) {
    .maintent{
        width: 68vw;
        margin-left: 0;
     }

     .tentlogo{
        width: 87vw;
        margin-top: 0.5rem;
     }
     .logounder{
        margin-left: 0.2rem !important;
    }
    .logoinfo{
        margin-top: 1rem !important;
     }
}