.mainbanner{
    width:100%;
    height:740px;
    position: relative;
}

.image_left {
    top: 0;
    left: -200px; /* 이미지의 초기 위치 설정 */
    animation: moveLeft 180s linear infinite; /* 왼쪽으로 움직이는 애니메이션 */
  }
  
  .image_right {
    top: 0;
    right: -200px; /* 이미지의 초기 위치 설정 */
    animation: moveRight 200s linear infinite; /* 오른쪽으로 움직이는 애니메이션 */
  }
  
  
  @keyframes moveLeft {
    0% {
      transform: translateX(-100vw);
    }
    100% {
      transform: translateX(100vw); /* 전체 화면 너비만큼 이동 */
    }
  }
  
  @keyframes moveRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100vw); /* 전체 화면 너비만큼 왼쪽으로 이동 */
    }
  }

  .overlay {
    position: absolute; /* 절대 위치로 설정 */
    top: 0;
    right: 0;
    left:0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); /* 반투명 검정색 */
    z-index: 10; /* 오버레이가 다른 요소 위에 표시되도록 설정 */
}


.maintent{
    position: absolute;
    top: 10%;
    right: 0;
    left:3%;
    bottom: 0;
    z-index: 12;
}
.tentlogo{
    position: absolute;
    top: 8%;
    right: 0;
    left:25%;
    bottom: 0;
    z-index: 12;
}
.logoinfo{
    position: absolute;
    top:0;
    right: 0;
    left:26.5%;
    bottom: 45%;
    z-index: 12;
}
.age{
    display: inline-block;
    background-color: #494747;
    border-radius: 5px;
    font-family: 'Black Han Sans';
    font-size: 20px;
    padding: 0 3px;
}
.logounder{
    border-radius: 5px;
    border: 0.5px solid white;;
    width: 53px;
    height: 21px;
}
.tentText{
    position: absolute;
    top: 35%;
    right: 0;
    left:26.5%;
    bottom: 0;
    z-index: 12;  
}
.tentlink{
    width: 347px;
    height: 70px;
    position: absolute;
    top: 70%;
    right: 0;
    left:26.5%;
    bottom: 0;
    z-index: 12;  
}
.bi{
    font-size: 25px;
}
.login{
    width: 364px;
    height: 610px;
    position: absolute;
    top: 9%;
    right: 0;
    left:70%;
    bottom: 0;
    z-index: 12;
    background-color: black; 
    border-radius: 200px 200px 0 0;
}
.loginform{
    position: absolute;
    top: 28%;
    right: 0;
    left:19%;
    bottom: 0;
}
.sublogin{
    position: absolute;
    top:68%;
    right: 0;
    left:1%;
    bottom: 0;
}
.logintxt{
    font-family: 'Black Han Sans';
    font-size: 35px;
    position: absolute;
    top: 10%;
    right: 0;
    left:0;
    bottom: 0;
    text-align: center;
}
.logintxt span{
    color:#FF153C;
}
.logindiv{
    background-color: white;
    width: 188px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-top: 7px;
}
input[type="text"],
input[type="password"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 50px;
    border: none;
    outline: none;
    width:226px;
    height: 49px;
}
input::placeholder {
    color: #ccc;
}
.tvinglogin {
    padding: 15px;
    font-size: 18px;
    color: #fff;
    background-color: #FF153C;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 226px;
    height: 49px;
}
.tvinglogin:hover {
    background-color: #FF869A;
}