.titlesub{
    font-size : 45px;
    text-align: center;
}
.titlesub span{
    color: #FF153C
}
.backimg {
    background-image: url('../../../public/img/bubble/bubble1.png'); /* 이미지 경로 확인 *//* 이미지를 섹션 전체에 맞게 조절 */
    background-position: left;
    background-repeat: no-repeat;
    height: 900px;
    background-position: 0% 0%;
}