.titlesub{
    font-size : 45px;
    text-align: center;
}
.titlesub span{
    color: #FF153C
}
.tvingstream{
    color:white;
    background-color: #FF153C;
    padding: 1rem 1.5rem;
    border-radius: 50px;
}