.titlesub{
    font-size : 2.8rem;
    text-align: center;
}
.titlesub span{
    color: #FF153C
}
.backimg {
    position: relative;
    height: 56rem;
    overflow: hidden; 
  }
  
  .backimg::before {
    content: "";
    position: absolute; 
    top: 0;
    left: 0; 
    width: 25%; 
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../../public/img/bubble/bubble1.png'); 
    animation: float 5s ease-in-out infinite; 
    // background-position: right top; 
    z-index: -1;
  }
  
@keyframes float {
    0% {
      background-position: 0% 0%; /* 초기 위치 */
    }
    50% {
      background-position: 0% 10%; /* 이미지가 위로 이동 */
    }
    100% {
      background-position: 0% 0%; /* 원래 위치로 돌아옴 */
    }
  }

  .swiper576{
    display: none;
  }

@media (max-width:576px) {
    .titlesub{
      font-size : 1.6rem;
    }
    .backimg {
    height: 47.5rem;
    }
    .swiper1920{
      display: none;
    }
    .swiper576{
      display: block;
    }
 }