
.adv{
    // background-color: #2F2F2F;
    border: #2F2F2F 5px solid;
    padding: 15px 25px;
    // border-radius: 30px;
    margin-right: 22rem;
    width:22rem;
    text-align: center;
    font-weight: 500;   
    
    &:hover{
        background-color: #2F2F2F;
        width: 80rem;
        margin:0;
        z-index: 1;
        .submoney {
            display: block; 
            }
    }
}

.pre{
       // background-color: #2F2F2F;
       border: #2F2F2F 5px solid;
       padding: 15px 25px;
       // border-radius: 30px;
       margin-right:19.5rem;
       width:22rem;
       text-align: center;
       font-weight: 500; 
       &:hover{
        background-color: #2F2F2F;
        width: 80rem;
        margin:0;
        z-index: 1;
        .submoney {
            display: block; 
            }
    }
}
.stan{
    // background-color: #7F7F7F;
    border: #7F7F7F 5px solid;
    padding: 15px 25px;
    // border-radius: 30px;
    margin-right: 19.5rem;
    width:22rem;
    text-align: center;
    font-weight: 500;
    &:hover{
        background-color: #7F7F7F;
        width: 80rem;
        margin:0;
        z-index: 1;
        .submoney {
            display: block; 
            }
    }
}

.adv_text, .pre_text, .stan_text{
    display: block;
}
.adv:hover ~ .adv_text {
    display: none !important;
}
.pre:hover ~ .pre_text {
    display: none !important;
}
.stan:hover ~ .stan_text {
    display: none !important;
}


.submoney {
display: none; 
}


.sub_s span{
    text-align: right;
}




@media (max-width:576px) {
    .adv{
        &:hover{
            width: 22rem;
        }
    }
    .pre{
        &:hover{
            width: 22rem;
     }
 }
 .stan{
    &:hover{
        width: 22rem; 
    }
}
.adv, .pre, .stan{
    margin: 0;
    width: 14rem;
}
.adv_text, .pre_text, .stan_text{
   font-size: 0.8rem;
}
ul{
    justify-content: center !important;
}
}