.imgsize{
  width: 2.5rem; 
  height: 2.5rem;
}
.glassmorphism {   
  width: 80.5vw;
  height: 38.75rem;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.1) 30%,
        rgba(0, 0, 0, 0.2) 65%,
        rgba(22, 22, 22, 0.2) 60%,
        rgba(255, 255, 255, 0.1) 90%
      ); 
    border-radius: 15px; 
    padding: 20px 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    border: 0.5px solid rgba(255, 255, 255, 0.3);
    text-align: center; 
    color: #fff; 
}

.mediaform{
    padding: 10px;
    box-sizing: border-box; 
    background-color: white;
    border-radius: 10px;
    width: 1180px;
    height: 85px;
    color:black;
}
.glassdiv{
    width: auto;
    height: auto;
}
.backimg {
    position: relative; 
    height: 50rem; 
    overflow: hidden;
  }

  .backimg::before {
    content: "";
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 19%; 
    height: 100%; 
    background-image: url('../../../public/img/bubble/bubble3.png');
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: left top;
    animation: float03 5s ease-in-out infinite; 
    z-index: -1; 
  }
  @keyframes float03 {
    0% {
      background-position: 0% 0%; /* 초기 위치 */
    }
    50% {
      background-position: 0% 10%; /* 이미지가 위로 이동 */
    }
    100% {
      background-position: 0% 0%; /* 원래 위치로 돌아옴 */
    }
  }
  input[type=text]{
    padding: 10px;
    font-size: 15px;
    border: none;
    outline: none;
}

@media (max-width:1200px) {
  .glassmorphism{
    width: 77.5vw;
    height: 28rem;
   }
   .mediaform{
    width: 63.5vw;
    height: 3rem;
   }
   .imgsize{
    width: 2rem; 
    height: 2rem;
  }
  .backimg {
    height: 39.5rem; 
  }
}

@media (max-width:992px) {
  .glassmorphism{
    width: 88.5vw;
    height: 28rem;
   }
   .mediaform{
    width: 78.5vw;
    height: 3rem;
   }
   .imgsize{
    width: 2rem; 
    height: 2rem;
  }
  .backimg {
    height: 39.5rem; 
  }
}

@media (max-width:768px) {
  .glassmorphism{
    width: 86.5vw;
    height: 29rem;
   }
   .mediaform{
    width: 77.5vw;
    height: 3rem;
   }
   .glassdiv{
    text-align: center !important;
   }
   .imgsize{
    width: 1.5rem; 
    height: 1.5rem;
  }
  .backimg {
    height: 38.5rem;  
  }
}

@media (max-width:576px) {
  .glassmorphism{
    width: 85.5vw;
    height: 29rem;
   }
   .mediaform{
    width: 76.5vw;
    height: 3rem;
   }
   .imgsize{
    width: 1.2rem; 
    height: 1.2rem;
  }
  .backimg {
    height: 35.5rem;  
  }
}

@media (max-width:320px) {
  .glassmorphism{
    width: 97vw;
    height: 29rem;
   }
   .mediaform{
    width: 18.5rem;
    height: 3rem;
   }
   .imgsize{
    width: 1rem; 
    height: 1rem;
  }
  .backimg {
    height: 35.5rem  
  }
}