.txt{
    color:#FF153C;
}
.container{
    max-width: 1400px;
}


.backimg {
    background-image: url('../../../public/img/bubble/line.png'); /* 이미지 경로 확인 *//* 이미지를 섹션 전체에 맞게 조절 */
    background-position: center;
    background-repeat: repeat-x;
    height: 31.25rem; 
    
    img{
        width: 34vw;
    }
}

@media (max-width:1200px) {
    .backimg img{
        width: 30rem;
        height: 22rem;
    }
  
}
@media (max-width:992px) {
    .backimg img{
        width: 30rem;
        height: 22rem;
    }
    .console{
        flex-direction: column;
        p{
            margin-bottom: 1rem;
        }
    }
}
  
@media (max-width:576px) {
    .backimg{
     height: 40rem;
    img{
        width:19rem;
        height: 14rem;
    }}
  
    .txt{
        color: white
    }
  }