@font-face { 
    font-family: 'BlackHanSans-Regular'; 
    font-style: normal; 
    font-weight: 300; 
    src: url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap') format('woff2');
}
body{
    font-family: 'Noto Sans KR', sans-serif !important;
    font-weight: 900 !important;
    background-color: black;
    color:white;
}
ul, li, dl, dt,dd, h1, h2, h3,h4,h5, p{
    margin: 0;
    padding: 0;
}
dt, dd, li{
    list-style: none;
}
a{
    text-decoration: none !important;
}
section{
    margin-bottom: 180px;
}
.titleText{
    font-family: "Noto Sans";
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}
.titleText span{
    color: #FF153C
}

.hashTitle{
    font-family: "Noto Sans";
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textBtn{
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    color:white;
    font-size: 20px;
    background-color: #FF153C;
    padding: 1rem;
    border-radius: 50px;
    width: 286px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textBtn:hover{
    background-color:#FF869A;
}
.text{
    font-size : 35px;
}
.noto12{
    font-size:12px;
}
.noto15px{
    font-size: 15px;
}
.noto20{
    font-family: "Noto Sans";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.noto40{
    font-family: "Noto Sans";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.black12{
    font-family: "Black Han Sans";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.black15{
    font-family: "Black Han Sans";
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

