@font-face { 
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
    src: url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap') format('woff2');
}
body{
    font-family: 'BlackHanSans-Regular', 'Noto Sans KR', sans-serif !important;
    font-weight: 900;
    background-color: black;
    color:white;
    overflow-x: hidden;
}
ul, li, dl, dt,dd, h1, h2, h3,h4,h5, p{
    margin: 0;
    padding: 0;
}
dt, dd, li{
    list-style: none;
}
a{
    text-decoration: none !important;
}
section{
    margin-bottom: 180px;
}
.titleText{
    font-family: 'Noto Sans KR';
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
    @media (max-width: 576px){
      font-size: 1rem;
      margin-bottom: 25px;
    }
}
.titleText span{
    color: #FF153C
}
.hashTitle_platf{
  font-family: 'Noto Sans KR';
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  @media (max-width: 576px){
    font-size: 1rem;
  }
}
.hashTitle{
    font-family: 'Noto Sans KR';
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    @media (max-width: 576px){
      font-size: 1.1rem;
      margin-bottom: 2rem;
    }
}

.text{
  font-family: 'Noto Sans KR';
    font-size : 25px;
    font-weight: 400;
    @media (max-width: 576px){
      font-size: 12px;
    }
}
.noto12{
  font-family: 'Noto Sans KR';
    font-size:12px;
    font-weight: 200;
}
.noto15{
  font-family: 'Noto Sans KR';
    font-size: 15px;
    font-weight: 200;
    @media (max-width: 768px){
      font-size: 0.8rem;
    }
    @media (max-width: 576px){
      font-size: 0.8rem;
    }
}
.noto20{
    font-family: 'Noto Sans KR';
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    @media (max-width:1200px){
      font-size: 1.1rem;
    }
    @media (max-width: 576px){
      font-size: 1rem;
    }
    @media (max-width: 320px){
      font-size: 0.9rem;
    }
}

.noto40{
    font-family: 'Noto Sans KR';
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    @media (max-width: 576px){
      font-size: 0.8rem;
    }
}
.black12{
    font-family: 'Black Han Sans';
    font-size: 0.75rem;
    font-weight: 100;
}
.black15{
    font-family: 'Black Han Sans';
    font-size: 0.9375rem;
    font-weight: 200;
}


// 부트스트랩4 margin 마이너스
.m-n1 {
    margin: -0.25rem !important;
  }
  
  .mt-n1,
  .my-n1 {
    margin-top: -0.25rem !important;
  }
  
  .mr-n1,
  .mx-n1 {
    margin-right: -0.25rem !important;
  }
  
  .mb-n1,
  .my-n1 {
    margin-bottom: -0.25rem !important;
  }
  
  .ml-n1,
  .mx-n1 {
    margin-left: -0.25rem !important;
  }
  
  .m-n2 {
    margin: -0.5rem !important;
  }
  
  .mt-n2,
  .my-n2 {
    margin-top: -0.5rem !important;
  }
  
  .mr-n2,
  .mx-n2 {
    margin-right: -0.5rem !important;
  }
  
  .mb-n2,
  .my-n2 {
    margin-bottom: -0.5rem !important;
  }
  
  .ml-n2,
  .mx-n2 {
    margin-left: -0.5rem !important;
  }
  
  .m-n3 {
    margin: -1rem !important;
  }
  
  .mt-n3,
  .my-n3 {
    margin-top: -1rem !important;
  }
  
  .mr-n3,
  .mx-n3 {
    margin-right: -1rem !important;
  }
  
  .mb-n3,
  .my-n3 {
    margin-bottom: -1rem !important;
  }
  
  .ml-n3,
  .mx-n3 {
    margin-left: -1rem !important;
  }
  
  .m-n4 {
    margin: -1.5rem !important;
  }
  
  .mt-n4,
  .my-n4 {
    margin-top: -1.5rem !important;
  }
  
  .mr-n4,
  .mx-n4 {
    margin-right: -1.5rem !important;
  }
  
  .mb-n4,
  .my-n4 {
    margin-bottom: -1.5rem !important;
  }
  
  .ml-n4,
  .mx-n4 {
    margin-left: -1.5rem !important;
  }
  
  .m-n5 {
    margin: -3rem !important;
  }
  
  .mt-n5,
  .my-n5 {
    margin-top: -3rem !important;
  }
  
  .mr-n5,
  .mx-n5 {
    margin-right: -3rem !important;
  }
  
  .mb-n5,
  .my-n5 {
    margin-bottom: -3rem !important;
  }
 
  
  .ml-n5,
  .mx-n5 {
    margin-left: -3rem !important;
  }

//   @media (max-width:1200px) {
//     .noto20{
//         font-size: 1rem !important;
//     }
//     .noto15{
//         font-size: 0.8rem !important;
//     }
//     .noto40{
//       font-size: 2rem;
//     }
//     .text{
//       font-size: 1.25rem;
//     }
// }

 .zup{
    z-index: 100000;

  }

.dim:after{
  content: "";
    position: absolute; /* 절대 위치로 설정 */
    display: block;
    top: 0;
    right: 0;
    left:0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); /* 반투명 검정색 */
    z-index: 10; /* 오버레이가 다른 요소 위에 표시되도록 설정 */

}

.swiper-c-dim{
  .swiper-slide{
    background-color: black !important;
    &.swiper-slide-active{
      img{
        opacity: 1;
      }
    }
    img{
      opacity: 0.5;
    }
  }

}
.swiper-c-frame{
  .swiper-slide{
    background-color: transparent !important;
    &.swiper-slide-active{
      border:#FF153C 5px solid;
      img{
        opacity: 1;
      }
    }
    img{
      opacity: 0.5;
    }
  }
  
}

.textBtn01{
  margin-top: 1rem;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color:#FF153C;
    font-size: 20px;
    background-color: transparent;
    padding: 1rem;
    border: #FF153C 1px solid;
    width: 286px;
    display: flex;
    justify-content: center;
    align-items: center;


  &:hover{
      background-color:#FF153C;
      color:white
  }
}
.textBtn02{
  margin-top: 1rem;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color:white;
    font-size: 20px;
    background-color: #FF153C;
    padding: 1rem;
    border: #FF153C 1px solid;
    border-radius: 50px;
    width: 286px;
    display: flex;
    justify-content: center;
    align-items: center;


  &:hover{
      background-color:#FF869A;
      color:white
  }
}